* {
    margin: 0;
    padding: 0;
}
.font1{
  font-family: var(--font1);
}
.font2{
  font-family: var(--font2);
}

.navigation {
    font-family: var(--font1);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
}

.nav-left ul {
    display: flex;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);

}

.nav-left ul li a {
    text-decoration: none;
    color: black;



}
.nav-left ul li a:hover{
   color: brown;
   font-weight: bolder;
    
}

.nav-right {}

.content {
    height: 395px;
    /* background-color: blue; */
    /* background-color: rgb(222,222,236); */
    display: flex;
    margin-top: 32px;
    padding: 9px;
}

.content-left {
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-right img {
    height: 334px;
    border: 2px solid black;
    border-radius:200px;
}


.root {
    --main-bg-color: brown;
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 80vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid green;
    border-radius: 4px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 1.3s ease-in-out;
}
.btn:hover{
    color: white;
    background: brown;
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid green;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);

}
.home-articles{
  height: 455px;
  background-color: aqua;
}
.home-article{

}
.footer {
    height: 50px;
     background-color: blueviolet; 
     display: flex;
     align-items: center;
     justify-content: center;
     color: black;
     flex-direction: column;
}
.footer a{
    color: black;
}