import
body{
    background-color: aquamarine;
}

*{
    margin: 0;
    padding: 0;
}
nav{
  font-family: 'ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 40px;
    padding: 0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
     flex-direction: column;
}
.icons{
    margin-top: 34px;
}
.icons i{
    cursor: pointer; 
}
.container{
    min-height: 72vh;
     background-color: black;
    color: white;
     font-family: 'varela Round',sans-serif;; 
    display: flex; 
     margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(); 
}

#myprogressbar{
    width: 80vw;
    align-items: center;
}
h1{
    height: 480px;
}