*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    overflow: hidden;

}
.gamecontainer{
    background-image: url(game.jpg);
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.dino{
    background-image: url(dino2.jpg.crdownload);
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    width: 340px;
    position: absolute;
    bottom: 0;
    left: 12px;
}
.obstacle{
    background-image: url(doll4.jpg);
    width: 333px;
    height: 413px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 704px;
}
.animateDino{
    animation: dino 0.6s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
.gameover{
    /* visibility: hidden; */
    position: relative;
    top: 63px;
    text-align: center;
    font-size: 53px;
    font-family: sans-serif;
}
#scorecont{
    position: absolute;
    color: antiquewhite;
    font-weight: bold;
    left: 23px;
    top: 23px;
    border: 2px solid black;
    padding: 10px;
    width: 112px;
}
@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}