.flex{
    display: flex;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    background: white;
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;
}
.left img{
    width: 32px;
    height: 25px;
}
.container{
    padding: 0 10vw; 
}
nav{
    font-size: 12px;
    padding-top: 14px;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.flex{
    display: flex;
}
.items-center{
  align-items: center;
}
.justify-center{
    justify-content: center;
}
.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.space-between{
    justify-content: space-between;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.section1{
    background: #f5f0f0;
}
.search{
    width: 34vw;
    padding: 7px 17px;
    border: 0.5px solid gray;
    background: #f7f8fd;
    border-radius: 5px;
}
.homeimg{
    width: 80vw;
    margin: 12px 0px;
}
.itemimg{
    width: 80vw;
    margin: 6px 12px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.my-2{
    margin: 12px 0;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%)0px 3px 8px;
}
/* .right{
    flex-direction: column;
    display: flex;
    margin: 12px;
} */